img{
	height: 500px;
	width: 350px;
	margin-left:500px;}
h1{
	margin-left: 580px;
}
.date{
	margin-left: 650px;

}
a{
	margin-left: 655px;
}
a.linkedln{
	margin-left: 657px;
}
p{
	text-indent: 30px;
}